@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primario: #201E43;
    --color-secundario: #EEEEEE;
    --color-terciario: #508C9B;
    --color-hover-fondo: #134B70;
    --color-hover-borde: #0000FF;

    /*--color-primario: #000000;
    --color-secundario: #F6F6F6;
    --color-terciario: #22D4FD;
    --color-hover-fondo: #272727;
    --color-hover-borde: #0000FF;*/

    --fuente-monserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
    --tamaño-fuente-textos: 1.5em;
}

* {
    padding: 0;
    margin: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.header {
    padding: 2% 0% 0% 15%;
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu__link {
    font-family: var(--fuente-monserrat);
    font-size: var(--tamaño-fuente-textos);
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

.presentacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
    gap: 82px;
}

.presentacion__contenido {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo {
    font-size: 2.25em;
    font-family: var(--fuente-krona);
}

.titulo-destaque {
    color: var(--color-terciario);
}

.presentacion__contenido__texto {
    font-family: var(--fuente-monserrat);
    font-size: var(--tamaño-fuente-textos);
}

.presentacion__enlaces {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulo {
    font-family: var(--fuente-krona);
    font-size: var(--tamaño-fuente-textos);
    font-weight: 400;
}

.presentacion__enlaces__link {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 16px;
    border: 0.12em solid var(--color-terciario);
    border-radius: 8px;
    text-decoration: none;
    width: 50%;
    padding: 21.5px 0;
    font-family: var(--fuente-monserrat);
    font-size: var(--tamaño-fuente-textos);
    font-weight: 600;
    color: var(--color-secundario);
}

.presentacion__enlaces__link:hover {
    background: var(--color-hover-fondo);
    border: 0.12em solid var(--color-hover-borde);
    cursor: pointer;
}

.presentacion__imagen {
    width: 50%;
    border: 0.31em solid var(--color-terciario);
    border-radius: 0.5em;
}

.footer {
    background: var(--color-terciario);
    color: var(--color-primario);
    font-family: var(--fuente-monserrat);
    font-size: var(--tamaño-fuente-textos);
    font-weight: 400;
    text-align: center;
    padding: 24px;
}

@media (max-width: 1200px) {
    .header {
        padding: 10%;
    }

    .header__menu {
        justify-content: center;
    }

    .presentacion {
        flex-direction: column-reverse;
        padding: 5%;
    }
}